html, body {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  background-color: #fafafa;
}

/*NAVBAR SECTION
------------------*/

header {
  background-color: #42596b;
  font-family: Signika, Roboto, Helvetica, Arial, sans-serif;
}

header nav ul {
  margin: 0;
  height: 62px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  margin-right: 16px;
}

header nav ul li:last-child {
  margin-right: 40px;
}

header nav ul li a {
  text-decoration: none;
  color: #ffcf5c;
  font-size: 1.25rem;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

header nav ul li a:hover {
  color: white;
}

/*MIDDLE SECTION
------------------*/

.content {
  background-color: #56bfec;
  height: 600px;
}

.container-flex {
  display: flex;
  flex-flow: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.description {
  width: 440px;
  height: 400px;
  text-align: center;
}

.robot {
  width: 440px;
  height: 400px;
  padding-top: 60px;
}

.btnimg {
  position: relative;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.slogan {
  margin-top: 20px;
  color: #fff;
  font-size: 1.45rem;
}

h1 {
  color: #1D4352;
  font-size: 5rem;
  letter-spacing: -.1875rem;
  line-height: 1;
  margin-bottom: 2rem;
}

.button {
  margin-top: 10px;
  background-color: #fff;
  border: none;
  color: #000;
  height: 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  width: 300px;
  border-radius: 4px;
}

.half-container{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  margin: 1rem;
  font-size: 1.25rem;
  align-items: center;

}
.about-header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
}

.about-half-1{
  flex: 1;
}
.about-half-2{
  flex: 1;
}
.about-full{
  display: flex;
  font-size: 1.25rem;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

/*START-USING SECTION
------------------*/

.start-using-section{
  padding: 16px;
  display: flex;
  justify-content: center;
}

.start-using {
  min-width: 300px;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 16px;
}

.start-using p {
  text-align: center;
  min-width: 300px;
  max-width: 536px;
  line-height: 1.5;
  font-size: 1.25rem;
  font-family: Signika, cursive;
  font-weight: 300;
  color: rgba(0,0,0,.75);
  margin: 0 0 16px 0;
}

.start-using a {
  min-width: 268px;
  width: 268px;
  padding: 16px;
  border-radius: 4px;
  margin-left: 5rem auto;
  background-color: #40596b;
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  margin: 64px 118px 80px 118px;
  transition: .3s ease-in-out;
}

.start-using a img {
  margin-right: 16px;
  width: 2.5rem;
  transition: transform .3s ease-in-out;
}

.start-using a:hover, .start-using a:focus{
  transform: scale(0.98);
  background-color: rgba(0, 0, 0, .7);
}

.start-using a:hover img {
  transform: scale(1.5) rotate(18deg);
}

.start-using a span {
  color: rgba(255, 255, 255, 0.9);
  font-family: Signika, cursive;
  font-weight: 300;
  font-size: 28px;
}

.strong {
  font-weight: 600;
}

.undertitle-h3 {
  text-align: center;
  min-width: 300px;
  letter-spacing: -.125rem;
  margin: 16px 16px 48px 16px;
  color: rgba(0,0,0,.75);
  font-family: Signika,cursive;
  font-weight: 300;
  font-size: 2.5rem;
}

.undertitle-h3::after {
  position: absolute;
  left: 50%;
  transform: translate(-80px, 2.9rem);
  background-color: #55c0ec;
  content: "";
  width: 160px;
  height: 3px;
}

/*FOOTER SECTION
------------------*/

footer {
  background-color: #40596b;
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.footer-container {
  padding: 0 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}

.footer-container p {
  margin: 0 0 0.25rem 0;
  font-family: Signika, cursive;
  font-size: 0.825rem;
  line-height: 1.5;
}

.footer-container p a {
  color: rgba(255, 255, 255, 0.75);
}

@media only screen and (max-width: 420px) {

  /*NAVBAR SECTION
  ------------------*/

  header nav {
    padding: 0 16px 0 16px;
  }

  header nav ul {
    padding: 0px;
  }

  header nav ul li:last-child {
    margin-right: 0px;
  }

  /*START-USING SECTION
  ------------------*/

  .undertitle-h3 {
    width: 300px;
  }

  .start-using p {
    max-width: 320px;
  }

  /*FOOTER SECTION
  ------------------*/

  .footer-container p {
    width: 200px;
    margin-bottom: 1rem;
  }
}
