html, body {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

header {
  background-color: #42596b;
  font-family: Signika, Roboto, Helvetica, Arial, sans-serif;
}

header nav ul {
  margin: 0;
  height: 62px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  margin-right: 16px;
}

header nav ul li:last-child {
  margin-right: 40px;
}

header nav ul li a {
  text-decoration: none;
  color: #ffcf5c;
  font-size: 1.25rem;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

header nav ul li a:hover {
  color: white;
}

.content {
  background-color: #56bfec;
  height: 2000px;
}

.container-flex {
  display: flex;
  flex-flow: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.description {
  width: 440px;
  height: 400px;
  text-align: center;
}

.robot {
  width: 440px;
  height: 400px;
  padding-top: 60px;
}

.btnimg {
  position: relative;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.slogan {
  margin-top: 20px;
  color: #fff;
  font-size: 1.45rem;
}

h1 {
  color: #1D4352;
  font-size: 5rem;
  letter-spacing: -.1875rem;
  line-height: 1;
  margin-bottom: 2rem;
}

.button {
  margin-top: 10px;
  background-color: #fff;
  border: none;
  color: #000;
  height: 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  width: 300px;
  border-radius: 4px;
}

.half-container{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  margin: 1rem;
  font-size: 1.25rem;
  align-items: center;
}
.about-header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
}

.about-halfs{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.about-full{
  display: flex;
  font-size: 1.25rem;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}