html, body {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

header {
  background-color: #42596b;
  font-family: Signika,Roboto,Helvetica,Arial,sans-serif;
}

header nav ul {
  margin: 0;
  height: 62px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  margin-right: 16px;

}

header nav ul li:last-child {
  margin-right: 40px;
}

header nav ul li a {
  text-decoration: none;
  color: #ffcf5c;
  font-size: 1.25rem;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

header nav ul li a:hover {
  color: white;
}

.content {
  background-color: #56bfec;
  height: 2000px;
}
