   .container-flex {
      display: flex;
      flex-flow: row;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .description {
      
      width:440px;
      height:400px;
      text-align: center;
    }

    .robot {
      
      width:400px;
      height: 400px;

    }
    
    .btnimg {
      position: relative;
      top: 50%;
      right:5px;
      transform: translateY(-50%);
   }
    .slogan{
     margin-top:20px;
     color: #fff;
     font-size: 1.45rem;  
  }

h1 {
    color: #1D4352;
    font-size: 5rem;
    letter-spacing: -.1875rem;
    line-height: 1;
    margin-bottom: 2rem;
}

.button {
  margin-top:10px;
  background-color:#fff;
  border: none;
  color: #000;
  height: 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  width:300px;
  border-radius: 4px;
}